# Because other dataset did not have enough 3, 2, and 1 star reviews, I obtained an additional data source to capture these reviews

In [5]:
import json
import pandas as pd
businesses = []
for line in open('yelp_dataset/review.json', 'r'):
    businesses.append(json.loads(line))

In [6]:
df = pd.DataFrame(businesses)

In [7]:
df.tail()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
6685895,RXBFk3tVBxiTf3uOt9KExQ,0,2018-07-03 12:17:27,0,0pCaq1hqAViS2N6ldlp_sQ,5.0,I have been coming here for years and this pla...,1,Xu_YazIajfsc7SRj1wJ6Mg
6685896,yA6dKNm_zl1ucZCnwW8ZCg,5,2013-05-22 15:32:08,11,jPCXuSBbI_cPocgoNBhdkg,1.0,I think this owner and the owner of Amy's Baki...,13,V6BjjQICDO4q7TT3ZhaPWw
6685897,a192hdM0_UVCYLwPJv1Qwg,0,2018-11-13 21:15:20,0,zwzO3yPdGbdgGy3-XQ0SWg,5.0,"Off the grid Mexican in Vegas. Very tasty, qua...",0,PFiIECX8wuvi7P-1mCvIjA
6685898,kOo4ZY2UQAX4j312mzQ8mA,1,2018-08-13 18:09:16,1,o8Nc2BJhKJXM6tRHJDRuPA,5.0,We hired Taco Naco to cater our family party a...,1,wu5R5_N7q5iqCBh6NBX26Q
6685899,PkqN5st3zZ_Xce_5QlBtNQ,0,2018-11-12 20:25:32,0,OKmOLFwtI-NjofTHAGzv1Q,3.0,Having just come back from Hawaii a few months...,2,Ej3mCvjcwVXCSPB_avIfjQ

# Dropping columns to make this dataframe look like the other to be able to seamlessly merge the 2

In [8]:
df.drop(columns=['business_id', 'date', 'review_id', 'user_id'], inplace=True)

In [9]:
df.head()

,cool,funny,stars,text,useful
0,0,1,1.0,Total bill for this horrible service? Over $8G...,6
1,0,0,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,0
2,0,0,5.0,I have to say that this office really has it t...,3
3,0,0,5.0,Went in for a lunch. Steak sandwich was delici...,0
4,0,0,1.0,Today was my second out of three sessions I ha...,7

# I only want reviews that are helpful. Since the other dataset were the official 'Review of the Day' I know the quality of those reviews are high. In order to make this datset at a high quality, I filter out based on user ratings for the review

In [10]:
df = df[(df['cool'] >= 5) & (df['funny'] >= 5) & (df['useful'] >=5)]

# Only need reviews that are 3 stars or below to supplement my data scrape

In [11]:
df = df[df['stars']<=3]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23072 entries, 325 to 6685896
Data columns (total 5 columns):
cool      23072 non-null int64
funny     23072 non-null int64
stars     23072 non-null float64
text      23072 non-null object
useful    23072 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.1+ MB

In [16]:
df.to_csv('Yelp_Dataset_Reviews.csv')